.container .column {
  padding: 40px 30px;
}

.blog-timestamp {
  font-weight: bold;
}

.blog-title {
  font-size: 30px;
  font-weight: bold;
}

.blog-summary {
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.5;
}
